body {
  background-size: cover;
  background-position: center;
  justify-content: center;
  align-items: center;
  background-size: cover;
}

.bgimage {
  background-image: url("/public/question.png");
  background-size: cover;
  background-position: center;
  min-height: 125vh; /* Минимальная высота 80% от высоты экрана */ /* Максимальная высота 125% от высоты экрана */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0; /* Убираем отступы */
  margin: 0; /* Убираем отступы для родительского контейнера */
  overflow: hidden; /* Скрывает все, что выходит за пределы контейнера */
}
.button {
  position: relative;
  background: linear-gradient(180deg, #e73bcc 0%, #342181 100%);
  border-radius: 60px;
  top: 300px;
  width: 153px;
  height: 80px;
  border: 1px solid #000000;
  color: #ffffff;
  font-weight: 400;
  font-size: 24px;
  font-family: "Yellowtail";
  text-transform: none;
}
.answers {
  display: flex;
  flex-direction: column;
  margin: 0%;
  margin-top: 10px;
  padding-top: 20px;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.answer {
  margin-bottom: 20px;
  width: 332px; /* Фиксированная ширина */
  height: auto; /* Высота будет подстраиваться под содержимое */
  padding: 10px 20px; /* Добавляем отступы для удобства */
  border-radius: 15px;
  border: 2px solid;
  background-color: #d9d9d9;
  font-size: 16px;
  color: black;
  text-align: center;
  transition: all 0.1s ease;
  text-transform: none;
  display: flex; /* Используем flexbox для центрирования текста */
  justify-content: center; /* Центрирование по горизонтали */
  align-items: center; /* Центрирование по вертикали */
}

.answer:hover {
  background-color: #9e00ac; /* Цвет при наведении */
}

.selected {
  background-color: #9e00ac; /* Цвет при нажатии */
}

.photo {
  width: 150px;
  height: 150px;
  margin: 0;
}
.elements {
  position: relative;
  top: 10px;
  text-align: center;
}
.question {
  position: relative;
  font-size: larger;
  font-weight: 500;
  margin-bottom: 17px;
  font-size: 24px;
  margin-top: 10px;
}

.ava {
  padding-top: 70px;
  width: 52px;
  height: 52px;
  margin-top: auto;
}
.inputText {
  border-radius: 30px;
  width: 344px;
  height: 150px;
  border: 1.5px solid black;
  text-align: center;
  font-size: larger;
  background-color: #d9d9d9;
}

.outerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.outerContainer2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.innerContainer {
  padding: 25px;
  background-color: #ffffff;
  border-radius: 70px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: auto;
  width: 93%;
  text-align: center;
  margin: 20px 0;
  box-sizing: border-box;
}
.innerContainer2 {
  padding: 20px;
  background-color: #ffffff;
  border-radius: 70px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: auto;
  text-align: center;
  margin: 20px 0;
  box-sizing: border-box;
  width: 93%;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.toAnswer {
  font-size: 25px;
  color: #ffffff;
  background: linear-gradient(30deg, #e43db6, #6c277d);
  border-radius: 30px;
  width: 60%;
  height: 84px;
  border: 0cap;
  animation: gradientAnimation 2.3s ease infinite;
  background-size: 200% 200%;
  margin-top: 30px;
  margin-bottom: 10px;
}

.answers2 {
  display: inline-flex;
  flex-direction: column;
  margin: 0%;
  margin-top: 30px;
}

.timerpadding {
  margin-top: 30px;
}

/* .timerpadding{
  margin-top: 60px;
}


 .answers2{
   
  display: inline-flex;
  flex-direction: column;
  margin: 0%;
  margin-top: 90px;
}

.toAnswer{
   font-size: 25px;
   color:#FFFFFF;
   background: linear-gradient(30deg, #E43DB6, #6C277D);
   border-radius: 30px;
   width: 60%;
   height: 84px;
   border: 0cap;
   animation: gradientAnimation 2.3s ease infinite;
    background-size: 200% 200%;
    margin-top: 29px;
    margin-bottom: 120px;
 } */
