body {
  background-size: cover;
  background-position: center;
  justify-content: center;
  align-items: center;
  background-size: cover;
}

.bgimage {
  background-image: url("/public/question.png");
  background-size: cover;
  background-position: center;
  min-height: 125vh; /* Минимальная высота 80% от высоты экрана */ /* Максимальная высота 125% от высоты экрана */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0; /* Убираем отступы */
  margin: 0; /* Убираем отступы для родительского контейнера */
  overflow: hidden; /* Скрывает все, что выходит за пределы контейнера */
}

.answers {
  display: flex;
  flex-direction: column;
  align-items: center; /* Центрирование кнопок */
  margin: 0;
  padding: 0;
  width: 100%;
}

.answerRight {
  margin-bottom: 20px;
  width: 332px;
  height: 58px;
  border-radius: 15px;
  border: 5px solid #4cc513;
  background-color: #d9d9d9;
  color: #2b7e16;
  font-size: 18px;
  margin-bottom: 20px;
  width: 332px; /* Фиксированная ширина */
  height: auto; /* Высота будет подстраиваться под содержимое */
  padding: 10px 20px; /* Добавляем отступы для удобства */
  border-radius: 15px;
  border: 2px solid;
  background-color: #d9d9d9;
  font-size: 16px;
  text-align: center;
  transition: all 0.1s ease;
  text-transform: none;
  display: flex; /* Используем flexbox для центрирования текста */
  justify-content: center; /* Центрирование по горизонтали */
  align-items: center; /* Центрирование по вертикали */
}

.answerWrong {
  border: 5px solid #e42014;
  background-color: #d9d9d9;

  color: #ba2020;

  text-align: center;
  transition: all 0.1s ease;
  margin-bottom: 20px;
  width: 332px; /* Фиксированная ширина */
  height: auto; /* Высота будет подстраиваться под содержимое */
  padding: 10px 20px; /* Добавляем отступы для удобства */
  border-radius: 15px;
  border: 2px solid;
  background-color: #d9d9d9;
  font-size: 16px;

  text-align: center;
  transition: all 0.1s ease;
  text-transform: none;
  display: flex; /* Используем flexbox для центрирования текста */
  justify-content: center; /* Центрирование по горизонтали */
  align-items: center; /* Центрирование по вертикали */
}

.defaultButton {
  margin-bottom: 20px;
  width: 332px;
  height: 58px;
  border-radius: 15px;
  border: 2px solid;
  background-color: #d9d9d9;
  font-size: 32px;
}

.photo {
  width: 150px;
  height: 150px;
  margin: 0;
}
.elements {
  position: relative;
  top: 10px;
  text-align: center;
}
.question {
  position: relative;
  font-weight: 500;
  margin-top: -7px;
  font-size: 24px;
}

.questPhoto {
  margin-bottom: 10px;
}

.outercontainer2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-size: cover;
  background-position: center;
}
/* .innercontainer2 {
  padding: 25px;
  background-color: #ffffff;
  border-radius: 70px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  height: auto;
  text-align: center;
  margin: 20px 0;
  box-sizing: border-box;
 
} */

.innercontainer2 {
  padding: 25px;
  background-color: #ffffff;
  border-radius: 70px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: auto;
  width: 93%;
  text-align: center;
  margin: 20px 0;
  box-sizing: border-box;
}

.Rightanswer {
  margin-top: 18px;
  margin-bottom: 20px;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
}

.timerpadding {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
