body {
  background-size: cover;
  background-position: center;
  justify-content: center;
  align-items: center;
  background-size: cover;
}

.bgimage {
  background-image: url("/public/question.png");
  max-width: 100%;
  height: auto;
  height: 100vh;
}

.answers {
  display: inline-flex;
  flex-direction: column;
  margin: 0%;
  margin-top: px;
  padding-top: px;
}

.answerRight {
  margin-bottom: 20px;
  width: 332px;
  height: 58px;
  border-radius: 15px;
  border: 5px solid #4cc513;
  background-color: #d9d9d9;
  color: #2b7e16;
  font-size: 18px;
}

.answerWrong {
  margin-bottom: 20px;
  width: 332px;
  height: 58px;
  border-radius: 15px;
  border: 5px solid #e42014;
  background-color: #d9d9d9;

  color: #ba2020;
  margin-bottom: 20px;
  border: 2px solid;

  font-size: 18px;

  text-align: center;
  transition: all 0.1s ease;
}

.defaultButton {
  margin-bottom: 20px;
  width: 332px;
  height: 58px;
  border-radius: 15px;
  border: 2px solid;
  background-color: #d9d9d9;
  font-size: 32px;
}

.photo {
  width: 150px;
  height: 150px;
  margin: 0;
}
.elements {
  position: relative;
  top: 10px;
  text-align: center;
}
.question {
  position: relative;
  font-weight: 500;
  margin-top: -7px;
  font-size: 24px;
}

.questPhoto {
  margin-top: 10px;
}

.outercontainer2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-size: cover;
  background-position: center;
}
/* .innercontainer2 {
  padding: 25px;
  background-color: #ffffff;
  border-radius: 70px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  height: auto;
  text-align: center;
  margin: 20px 0;
  box-sizing: border-box;
 
} */

.innercontainer2 {
  padding: 25px;
  background-color: #ffffff;
  border-radius: 70px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: auto;
  width: 93%;
  text-align: center;
  margin: 20px 0;
  box-sizing: border-box;
}

.Rightanswer {
  margin-top: 18px;
  margin-bottom: 20px;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
}

.timerpadding {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
