.bg {
   background-image: url('/public/bgadmin.png');
   background-size: cover;
   background-position: center;
   min-height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 0;
   margin: 0;
   overflow: hidden; /* Скрывает все, что выходит за пределы */
 }

 .button {
  margin-bottom: 20px; /* Отступ между кнопками */
  width: 230px; /* Фиксированная ширина кнопок */
  height: 60px; /* Высота кнопок */
  border-radius: 15px;
  border: 2px solid;
  background-color: #D9D9D9;
  font-size: 20px;
  color: black;
  font-family: 'Yaldevi Colombo', sans-serif;
  display: flex; /* Для центровки текста */
  justify-content: center; /* Центрируем текст по горизонтали */
  align-items: center; /* Центрируем текст по вертикали */
  text-transform: lowercase;
}
.container {
  display: flex; /* Сделать контейнер флексом */
  flex-direction: column; /* Вертикальное расположение кнопок */
  justify-content: center;
  align-items: center;
  max-width: 100%; 
  margin: 30px;
  gap: 20px; /* Добавляем расстояние между кнопками */
}