/* styles.module.css */
.bg {
    background-image: url('/public/bgadmin.png');
    background-size: cover;
    background-position: center;
    min-height: 100vh; /* Используем min-height вместо height */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0; /* Убираем отступы */
    margin: 0; /* Убираем отступы для родительского контейнера */
    overflow: hidden; /* Скрывает все, что выходит за пределы контейнера */
}
.OuterContainer {
    background-color: white;
    padding: 0px 40px 40px 40px; /* Увеличиваем отступы */
    width: 100%;
    height: auto;
    max-width: 73%; /* Увеличиваем максимальную ширину контейнера */
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2); /* Увеличиваем тень для объема */
    border-radius: 150px; /* Увеличиваем радиус скругления */
    opacity: 0.95;
    
}
.inputStyle {
    margin-bottom: 30px;
    width: 65%;
    height: 70px;
    border-radius: 25px;
    border: none; /* Убираем границу */
    background-color: #D9D9D9;
    font-size: 32px;
    color: black;
    
}
.InnerContainer{
    text-align: center;
    align-items: center;

}

.header {
    text-align: center;
    
    font-family: 'ZenMaruGothic';
   font-weight: 400;
   font-size: 50px;
}



.label {
    font-size: 16px; /* Увеличиваем размер шрифта */
    margin-bottom: 15px; /* Увеличиваем отступ */
    display: block;
    font-family: 'ZenMaruGothic';
   font-weight: 400;
   font-size: 30px;
}

.inputField {
    width: 100%;
    padding: 15px; /* Увеличиваем внутренний отступ */
    border: 1px solid #ccc;
    border-radius: 6px; /* Увеличиваем радиус скругления */
    font-size: 18px; /* Увеличиваем размер шрифта */
}

.createAccountBtn {
    width: 100%;
    padding: 15px; /* Увеличиваем внутренний отступ */
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 6px; /* Увеличиваем радиус скругления */
    font-size: 18px; /* Увеличиваем размер шрифта */
    cursor: pointer;
}

.createAccountBtn:hover {
    background-color: #0056b3;
}

/* Медиазапросы для адаптивности */
@media (max-width: 768px) {
    .OuterContainer {
        padding: 30px; /* Уменьшаем отступы на маленьких экранах */
        max-width: 90%;
    }
}

@media (max-width: 480px) {
    .OuterContainer {
        padding: 20px; /* Уменьшаем отступы на мобильных экранах */
        max-width: 100%;
    }

    .inputField {
        font-size: 16px; /* Уменьшаем текст на маленьких экранах */
    }

    .createAccountBtn {
        font-size: 16px;
        padding: 12px; /* Уменьшаем внутренний отступ на мобильных экранах */
    }
}

@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');

.passwordContainer {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center; /* Центрируем содержимое контейнера */
}

.inputField {
    width: 100%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 18px;
    box-sizing: border-box;
}

.eyeIcon {
    position: absolute;
    right: 19%; /* Расположим иконку в правой части поля */
    top: 35%;
    transform: translateY(-50%); /* Центрируем иконку по вертикали */
    cursor: pointer;
    font-size: 24px;
    color: #000000;
    display: flex;
    align-items: center;
}

.inputWrapper {
    position: relative;
    width: 100%;
}
.fieldContainer{
    text-align: center;
}

.buttonstart{
    margin: 35px auto 0;
   background: linear-gradient(60deg, #E73BCC, #342181);
   text-align: center; 
   border-radius: 45px; 
   width: 50%;
   height: 85px; 
   color: white;
   border: none;
   font-family: 'ZenMaruGothic';
   font-weight: 400;
   font-size: 24px;
   cursor: pointer;
  animation: gradientAnimation 2.3s ease infinite;
  background-size: 200% 200%;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
  }

.paddingbottom{
    padding-bottom: 10%;
}

.paddingtop{
    padding-top: 50px;
}
.errorMessage {
    color: red; /* Красный цвет для сообщения об ошибке */
     /* Отступ сверху */
}

@media (min-width: 1280px), (min-height: 720px) {
    .bg {
        min-height: 100vh;
    }
}




@media (min-width: 1920px) {
        .bg {
            width: auto; 
            min-height: 100vh;
        }
        .OuterContainer {
            max-width: 60%;
        }
    }


.backButton {
        background-color: transparent; /* Прозрачный фон */
        border: none; /* Убираем рамку */
        cursor: pointer; /* Указывает на то, что элемент кликабельный */
        font-size: 32px; /* Увеличиваем размер шрифта для значка стрелки */
        margin-top: -20px;
        margin-bottom: 20px; /* Отступ снизу */
        transition: transform 0.3s; /* Плавный переход для эффекта наведения */
        display: flex; /* Используем flex для центрирования содержимого */
        align-items: center; /* Центрируем по вертикали */
        justify-content: center; /* Центрируем по горизонтали */
        border-radius: 5px; /* Скругляем углы кнопки */
        height: 70px; /* Устанавливаем высоту кнопки */
        width: 70px; /* Устанавливаем ширину кнопки */
     }