/* styles.module.css */
.bg {
  background-image: url("/public/bgadmin.png");
  background-size: cover;
  background-position: center;
  min-height: 100vh; /* Используем min-height вместо height */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0; /* Убираем отступы */
  margin: 0; /* Убираем отступы для родительского контейнера */
  overflow: hidden; /* Скрывает все, что выходит за пределы контейнера */
}
.OuterContainer {
  background-color: white;
  padding: 0px 40px 40px 40px; /* Увеличиваем отступы */
  width: 100%;
  height: auto;
  max-width: 83%; /* Увеличиваем максимальную ширину контейнера */
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2); /* Увеличиваем тень для объема */
  border-radius: 150px; /* Увеличиваем радиус скругления */
  opacity: 1;
  position: relative;
}
.inputStyle {
  margin-bottom: 30px;
  width: 65%;
  height: 70px;
  border-radius: 25px;
  border: none; /* Убираем границу */
  background-color: #d9d9d9;
  font-size: 32px;
  color: black;
}
.InnerContainer {
  text-align: center;
  align-items: center;
}

.header {
  text-align: center;

  font-family: "ZenMaruGothic";
  font-weight: 400;
  font-size: 50px;
}
.subText {
  text-align: center;
  font-family: "ZenMaruGothic";
  font-weight: 400;
  font-size: 27px;
  margin-top: -20px;
  color: #5f5f5f;
}

.label {
  font-size: 16px; /* Увеличиваем размер шрифта */
  margin-bottom: 15px; /* Увеличиваем отступ */
  display: block;
  font-family: "ZenMaruGothic";
  font-weight: 400;
  font-size: 30px;
}

.inputField {
  width: 100%;
  padding: 15px; /* Увеличиваем внутренний отступ */
  border: 1px solid #ccc;
  border-radius: 6px; /* Увеличиваем радиус скругления */
  font-size: 18px; /* Увеличиваем размер шрифта */
}

.createAccountBtn {
  width: 100%;
  padding: 15px; /* Увеличиваем внутренний отступ */
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 6px; /* Увеличиваем радиус скругления */
  font-size: 18px; /* Увеличиваем размер шрифта */
  cursor: pointer;
}

.createAccountBtn:hover {
  background-color: #0056b3;
}

@import url("https://fonts.googleapis.com/css2?family=Yellowtail&display=swap");

.passwordContainer {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center; /* Центрируем содержимое контейнера */
}

.inputField {
  width: 100%;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 18px;
  box-sizing: border-box;
}

.eyeIcon {
  position: absolute;
  right: 19%; /* Расположим иконку в правой части поля */
  top: 35%;
  transform: translateY(-50%); /* Центрируем иконку по вертикали */
  cursor: pointer;
  font-size: 24px;
  color: #000000;
  display: flex;
  align-items: center;
}

.inputWrapper {
  position: relative;
  width: 100%;
}
.fieldContainer {
  text-align: center;
}

.buttonstart {
  margin: 35px auto 0;
  background: linear-gradient(60deg, #e73bcc, #342181);
  text-align: center;
  border-radius: 45px;
  width: 50%;
  height: 85px;
  color: white;
  border: none;
  font-family: "ZenMaruGothic";
  font-weight: 400;
  font-size: 24px;
  cursor: pointer;
  animation: gradientAnimation 2.3s ease infinite;
  background-size: 200% 200%;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.paddingbottom {
  padding-bottom: 10%;
}

.paddingtop {
  padding-top: 50px;
}
.errorMessage {
  color: red; /* Красный цвет для сообщения об ошибке */
  /* Отступ сверху */
}

.avatarContainer {
  position: relative;
  width: 100vh;
  height: auto;
  margin: -150px auto -35px;
}

.avatarContainer img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}
.avatar {
  top: -200px;
  left: 22px;
  width: 340px;
  z-index: 1;
  opacity: 1;
}

.button {
  margin-bottom: 25px;
  width: 70%;
  height: 58px;
  border-radius: 15px;
  border: 2px solid;
  background-color: #d9d9d9;
  font-size: 32px;
  color: black;
  border: none;
}

.referralIcon {
  padding-top: 10px;
  margin-right: 8px; /* Отступ между иконкой и текстом */
  width: 30px; /* Точное значение ширины изображения */
  height: 30px; /* Точное значение высоты изображения */
}

@media (max-width: 1280px) {
  .bg {
    min-height: 140vh;
  }
}

@media (max-height: 720px) {
  .bg {
    min-height: 140vh;
  }
}

@media (min-height: 720px) {
  .bg {
    min-height: 135vh;
  }
}

.logoutContainer {
  position: absolute; /* To position the logout icon */
  top: 70px; /* Adjust based on your layout */
  right: 90px; /* Adjust based on your layout */
  cursor: pointer; /* Indicates the icon is clickable */
}

.logoutIcon {
  width: 40px; /* Set the desired width */
  height: 40px; /* Set the desired height */
}
