.timerWrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.progress {
  position: relative;
  z-index: 1;
  
}


.label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(0, 0, 0);
  font-family: 'ZenMaruGothic';
  font-weight: 400;
  font-size: larger;
  z-index: 2;
}

.blink {
  animation: blink 1s infinite;
}

/* .color{
  color: linear-gradient(120deg, #FF00C7, #5B00CE);
  background-size: 200% 200%;
  animation: gradientShift 3s ease infinite;
} */
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
